<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
{% block content %}
<form method="POST" class="post-form" enctype="multipart/form-data">  
  {% csrf_token %}  
  {{ form.as_p }}  
  <button type="submit" class="save btn btn-default">Save</button>  
</form>  

{% endblock %}

<h2>Results</h2>

<ul id="list"></ul>


</body>

  <script>

    var aupcs = "{% if allUPCS is not None%} {{allUPCS}} {%endif%}";
    aupcs = aupcs.replaceAll("&quot;","'").replaceAll(" ","");
    var allUPCS = aupcs.split(",");
    var pos = 0;
  
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;



   function getProduct(){

    $.ajax({

        url: "http://localhost:8000/GetProductInfo/",
        method:"POST",
       
       data: {
          'upc': ''       
          },

        headers: {'X-CSRFToken': csrftoken},
        
        dataType: 'json',

        success: function (data) {
          
          $("#list").html("");
           for(var i=0; i<data.length; i++){
            if(!jQuery.isEmptyObject(data[i].Original)){
             $("#list").append("<li><a href=http://localhost:8000/GetProduct/"+i+">"+data[i].Original.ASIN+"</a></li>");
           }
          }

  
        }
      });

   }

   setInterval(getProduct,6000);

   {% if method == "POST" %}
  if(allUPCS.length>0){
   
  }
  {% endif %}
  


  function getOutput(data){

    var htm = $("#tmp").html();

    sellers_rank = "";
    if(data.Original.SellersRank!=undefined){
      sellers_rank = data.Original.SellersRank;
    }

    htm = htm.replace("data.Original.SellersRank",data.Original.SellersRank);

    if(!jQuery.isEmptyObject(data.Similar)){
    htm = htm.replace("data.Similar.SellersName",data.Similar.SellersName);
    htm = htm.replace("data.Similar.Price",data.Similar.Price);
    htm = htm.replace("data.Similar.Inventory",data.Similar.Inventory);
    htm = htm.replace("data.Similar.Fees.data.mfnFees.variableClosingFee.amount",data.Similar.Fees.data.mfnFees.variableClosingFee.amount);
    htm = htm.replace("data.Similar.Fees.data.mfnFees.fixedClosingFee.amount",data.Similar.Fees.data.mfnFees.fixedClosingFee.amount);
    htm =  htm.replace("data.Similar.Fees.data.mfnFees.referralFee.amount",data.Similar.Fees.data.mfnFees.referralFee.amount);
    htm = htm.relace("data.Similar.Fees.data.afnFees.variableClosingFee.amount",data.Similar.Fees.data.afnFees.variableClosingFee.amount);
    htm = htm.relace("data.Similar.Fees.data.afnFees.fixedClosingFee.amount", data.Similar.Fees.data.afnFees.fixedClosingFee.amount);
    htm = htm.replace("data.Similar.Fees.data.afnFees.referralFee.amount",data.Similar.Fees.data.afnFees.referralFee.amount);
    htm = htm.replace("data.Similar.Fees.data.afnFees.storageFee.amount",data.Similar.Fees.data.afnFees.storageFee.amount);
    htm = htm.replace("data.Similar.Fees.data.afnFees.pickAndPackFee.amount",data.Similar.Fees.data.afnFees.pickAndPackFee.amount);
   
    }


    htm = htm.replace("data.Original.Image",data.Original.Image);

    htm = htm.replace("#collapseOne","#"+data.Original.ASIN);
    htm = htm.replace("collapseOne",data.Original.ASIN);
    htm = htm.replace("Collapsible Group Item #1","ASIN: "+data.Original.ASIN);

    return htm;
  }

  </script>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</body>
</html>
